@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Lora:wght@200;300;400;500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

* {
	box-sizing: border-box;
	font-family: Lora, sans-serif;
}

:root {
	--bg: #222;
	--font1: #fff;
	--font2: #bbb;
}

.accordion .item .heading {
	text-align: center;
	padding: 0.25em 0 0.25em 0;
	font-family: "Playfair Display SC";
	font-size: 2.5em;
	font-weight: 700;
	background: #013;
	color: #fff;
	cursor: pointer;
	box-sizing: border-box;
}

.accordion .item.open .heading,
.accordion .item:last-child .heading {
	border: 0;
}

.accordion .item.open .heading {
	background-position: right 20px top -5px;
}

.accordion .item .content {
	display: none;
	background: #125;
	background: rgba(17, 34, 85, 0.7);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.subhead {
	text-align: center;
	color: #fff;
	font-size: 1em;
	padding: 0.5em;
}

.header > h1 {
	text-align: center;
	padding: 0.25em 0 0.25em 0;
	font-family: "Playfair Display SC";
	font-size: 2.5em;
	font-weight: 700;
	background: #000;
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Cormorant;
	font-size: 200%;
}

body {
	margin: 0;
	color: var(--font1);
	background: var(--bg);
}

.news {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: 800px;
	grid-auto-flow: dense;
	grid-gap: 0;
	max-width: 1600px;
	margin: 0 auto;
	/*padding: 0.5em;*/
}

#newsctr {
	margin: 5em auto;
}

.news .post {
	display: flex;
	flex-flow: column nowrap;
	padding: 1em;
	border: 1px solid var(--font2);
}

.news .post:nth-child(1) {
	grid-column-end: span 9;
}

.news .post:nth-child(2) {
	grid-column-end: span 3;
}

.news .post:nth-child(3) {
	grid-column-end: span 3;
}

.news .post:nth-child(4) {
	grid-column-end: span 6;
}

.news .post:nth-child(5) {
	grid-column-end: span 3;
}

.news .post:nth-child(6) {
	grid-column-end: span 6;
}

.news .post:nth-child(7) {
	grid-column-end: span 3;
}

.news .post:nth-child(8) {
	grid-column-end: span 3;
}

.news .post:nth-child(9) {
	grid-column-end: span 9;
}

.news .post:nth-child(10) {
	grid-column-end: span 3;
}

.news .post:nth-child(11) {
	grid-column-end: span 3;
}

.news .post:nth-child(12) {
	grid-column-end: span 6;
}

.news .post:nth-child(13) {
	grid-column-end: span 3;
}

.news .post:nth-child(14) {
	grid-column-end: span 6;
}

.news .post:nth-child(15) {
	grid-column-end: span 3;
}

.news .post:nth-child(16) {
	grid-column-end: span 3;
}

.news .post:nth-child(17) {
	grid-column-end: span 9;
}

.news .post:nth-child(18) {
	grid-column-end: span 3;
}

.news .post:nth-child(19) {
	grid-column-end: span 3;
}

.news .post:nth-child(20) {
	grid-column-end: span 6;
}

.news .post:nth-child(21) {
	grid-column-end: span 3;
}

.news .post:nth-child(22) {
	grid-column-end: span 6;
}

.news .post:nth-child(23) {
	grid-column-end: span 3;
}

.news .post:nth-child(24) {
	grid-column-end: span 3;
}

.news .post:nth-child(25) {
	grid-column-end: span 9;
}

.title {
	color: var(--font1);
}

.news .post .media {
	display: block;
	flex: 1 1 auto;
	background-size: cover;
	background-position: center;
	background-color: #111;
}

.news .post .caption {
	padding: 0.5em;
	border-radius: 20px;
}

.news .post .caption .title {
	margin: 0.75em;
}

.news .post .caption .content {
	padding: 1em;
}

.content {
	color: var(--font2);
}



.news .post.overlaid {
	position: relative;
}

.news .post.overlaid .caption {
	z-index: 2;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #fff;
	padding: 1em;
}

.news .post.overlaid::after {
	z-index: 1;
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, rgba(0, 0, 0, 0) 100%);
}

@media (max-width: 1200px) {
	.news .post:nth-child(1) {
		grid-column-end: span 12;
	}

	.news .post:nth-child(2) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(3) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(4) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(5) {
		grid-column-end: span 12;
	}

	.news .post:nth-child(6) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(7) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(8) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(9) {
		grid-column-end: span 12;
	}

	.news .post:nth-child(10) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(11) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(12) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(13) {
		grid-column-end: span 12;
	}

	.news .post:nth-child(14) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(15) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(16) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(17) {
		grid-column-end: span 12;
	}

	.news .post:nth-child(18) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(19) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(20) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(21) {
		grid-column-end: span 12;
	}

	.news .post:nth-child(22) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(23) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(24) {
		grid-column-end: span 4;
	}

	.news .post:nth-child(25) {
		grid-column-end: span 12;
	}
}

@media (max-width: 900px) {
	.news .post:nth-child(1) {
		grid-column-end: span 12;
	}

	.news .post:nth-child(2) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(3) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(4) {
		grid-column-end: span 12;
	}

	.news .post:nth-child(5) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(6) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(7) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(8) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(9) {
		grid-column-end: span 12;
	}

	.news .post:nth-child(10) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(11) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(12) {
		grid-column-end: span 12;
	}

	.news .post:nth-child(13) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(14) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(15) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(16) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(17) {
		grid-column-end: span 12;
	}

	.news .post:nth-child(18) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(19) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(20) {
		grid-column-end: span 12;
	}

	.news .post:nth-child(21) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(22) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(23) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(24) {
		grid-column-end: span 6;
	}

	.news .post:nth-child(25) {
		grid-column-end: span 12;
	}
}

@media (max-width: 600px) {
	.news .post {
		grid-column-end: span 12 !important;
	}

	.caption {
		/*padding: 0.5em;*/
		border-radius: 20px;
	}

	.caption .title {
		padding: 0;
		font-size: 1.5em;
	}

	.caption .content {
		padding: 1em;
		color: var(--font2);
	}
}


.time {
	margin-bottom: 1em;
	font-weight: 600;
}



.heroheader {
	position: fixed !important;
	width: 100%;
	z-index: 9999;
	top: 0;
}

.menu {
	align-content: center;
	align-items: center;
	margin: auto;
	padding: 1em;
}

.option {
	background: none;
	color: #fff;
	padding: 7px 15px;
	margin: 5px 0;
	border: 1px solid white;
	border-radius: 0px;
	font-size: 1em;
}

.option:hover {
	background: #19368d;
}

a {
	text-decoration: none;
	color: ver(--font1);
}
